<md-card>
	<ng-template tdLoading [tdLoadingUntil]="!loadingPlan" tdLoadingStrategy="overlay" tdLoadingType="linear">
		<md-card-title>Pay with PayPal</md-card-title>
		<md-divider></md-divider>
		<div class="selection-plan-inner" layout="row" layout-align="center start" layout-wrap>
			<div class="plan payment" flex-gt-md>
				<h2 class="plan-name">{{paymentPlan.name}}</h2>
				<h3 class="plan-price">{{paymentPlan.price}} {{paymentPlan.currency}}</h3>
				<p class="plan-info">{{paymentPlan.description}}</p>
				<ul class="feature-list">
					<li *ngFor="let feature of paymentPlan.features" [class.feature-disable]="!feature.enabled">
						<i *ngIf="feature.enabled" class="fa fa-check-circle"></i>
						{{feature.label}}
					</li>
				</ul>
			</div>
		</div>
	</ng-template>

	<md-divider *ngIf="paymentDetails"></md-divider>

	<md-card-content *ngIf="paymentDetails">
		<table td-data-table class="paypal-details-table">
			<th td-data-table-column>Payment Details</th>
			<th td-data-table-column></th>
			<tr td-data-table-row>
				<td td-data-table-cell>Plan:</td>
				<td td-data-table-cell>{{paymentDetails.name}}</td>
			</tr>
			<tr td-data-table-row>
				<td td-data-table-cell>Expires:</td>
				<td td-data-table-cell>{{paymentDetails.expires | date:'short'}}</td>
			</tr>
			<tr td-data-table-row>
				<td td-data-table-cell>Total Charge:</td>
				<td td-data-table-cell>
					<strong>{{paymentDetails.price}} {{paymentDetails.currency}}</strong>
				</td>
			</tr>
		</table>
	</md-card-content>

	<md-divider></md-divider>

	<md-card-actions *ngIf="!paymentDetails">
		<button md-raised-button color="accent" class="text-upper" (click)="startPayment()">Proceed to checkout</button>
	</md-card-actions>

	<md-card-actions *ngIf="paymentDetails">
		<button md-raised-button color="accent" class="text-upper" (click)="confirmPayment()">Confirm Payment</button>
	</md-card-actions>
</md-card>
