<md-card>
	<md-card-title><i class="fa fa-crosshairs accent mr-10"></i>My Trackers</md-card-title>
	<md-card-subtitle>Edit / Change your trackers</md-card-subtitle>
	<md-divider></md-divider>

	<ng-template tdLoading [tdLoadingUntil]="!loading" tdLoadingStrategy="overlay">

		<md-card-content>

			<div class="text-center">
				<md-card-subtitle class="no-padding">Number of Trackers</md-card-subtitle>
				<p class="text-light-small mb-10">{{Trackers.length}}/{{user.getMaxQuota('trackers.trackers')}}</p>
				<md-progress-bar color="accent" [value]="(Trackers.length / user.getMaxQuota('trackers.trackers')) * 100"></md-progress-bar>
			</div>

			<md-divider class="mt-20"></md-divider>

			<md-nav-list>
				<h3 md-subheader>Trackers</h3>

				<md-list-item *ngIf="Trackers.length == 0">
					<h3 md-line>No trackers here.</h3>
				</md-list-item>

				<div fxLayout="row" fxLayoutAlign="start center" *ngFor="let tracker of Trackers">
					<md-list-item class="flex-grow" [routerLink]="['/app/trackers/wizard/edit/', tracker._id]">
						<md-icon md-list-avatar fontIcon="fa-bar-chart" color="green"></md-icon>
						<h3 md-line class="tracker-name">{{tracker.name}}</h3>
					</md-list-item>
					<md-icon class="vertical-menu ml-10" [mdMenuTriggerFor]="menu" fontIcon="fa-ellipsis-v"></md-icon>
					<md-menu #menu="mdMenu" class="color-icons">
						<button md-menu-item (click)="editTracker(tracker)">
							<md-icon fontIcon="fa-pencil-square-o"></md-icon>
							Rename
						</button>
						<button md-menu-item [routerLink]="['/app/trackers/wizard/edit/', tracker._id]" routerLinkActive="active">
							<md-icon fontIcon="fa-cogs"></md-icon>
							Edit Tracker
						</button>
						<button md-menu-item (click)="deleteTracker(tracker)">
							<md-icon class="tc-red-400" fontIcon="fa-trash"></md-icon>
							Delete
						</button>
					</md-menu>
				</div>

			</md-nav-list>

			<button md-raised-button color="primary" (click)="addTracker(trackerName)" class="add-tracker">Create Tracker</button>
		</md-card-content>

	</ng-template>

</md-card>
