.icon-scaled {
	font-size:3vw;
}

.font-scaled {
	font-size:1.0vw;
}

.icon-card {
	text-align:center;
	.fa {
		color:#afafaf;
		font-size:60px;
	}


}

.list-view .icon-card {
	.fa {
		font-size:42px;
	}
}