.mat-slide-toggle {
	height: 14px;
	margin-left: 8px;
	margin-right: 8px;
}

.message {
	background-color: #f2f2f2;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 10px;
}

.indicator {
	font-size: 13px;
	margin-left: 5px;
}
